language: android

android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.3
    - android-23
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-23

sudo: false

jdk:
  - oraclejdk8

env:
  global: MALLOC_ARENA_MAX=2 GRADLE_OPTS=-Xmx2048m -Dorg.gradle.parallel=false

addons:
  apt:
    packages:
      - tar
      - gzip
      - patch

before_install:
  - openssl aes-256-cbc -K $encrypted_ef6b2cc54821_key -iv $encrypted_ef6b2cc54821_iv -in travis/configs/mirror_private_config.tar.gz.enc -out travis/configs/mirror_private_config.tar.gz -d

install:
  - tar zxf travis/configs/mirror_private_config.tar.gz

before_script:
  - chmod +x gradlew

script: "./gradlew build --no-daemon --stacktrace"
